body {
    font-family: arial;
    background-color: #333333;
}

body, h1, h2, ul, p, a {
    padding: 0;
    margin: 0;
    display: inline;
}

span, time {
    display: inline-block;
}

.user {
    cursor: pointer;
}

#header, #footer {
    background: #55ACEE;
    opacity: 0.85;
}

#header {	
    box-shadow: 3px black;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 5px;
    color: #353535;
}

#nav {
    background-color: white;
    opacity: .85;
}
button {
    border-style: none;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
}

#body {
    padding-right:25px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin: 0;
    overflow: auto;
}

#tweets {
    width: 100%;
}
#left {
    color: #333333;
    background-color: #222222;
    text-align: right;
    vertical-align: bottom;
    font-size: 12px;
    width: 7%;
    height: 30px;
}
#center {
    width: 20%;
    font-size: 30px;
}
#right {
    color: ;
    background-color: ;
    text-align: right;
    vertical-align: bottom;
    width: 73%;
}
#line {
    height: 1px;
    background-color: #000000;
    opacity: 50;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
    width: 100%;
}

#company {
    color: #FFFFFF;
    padding-top: 10px;
    padding-left: 80px;
}